.footer{
    width: 100%;
    height: fit-content;
    background-color: black ;
    /* padding: 0% 20%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-top{
    width: 840px;
    padding-top: 5rem;
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer-middle ol li{
    font-size: 0.8rem;
    padding: 0%;
    font-weight: 400;
}
.footer-middle{
    width: 600px;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}
.footer-bottom{
    display: flex;
    width: 1200px;;
    height: 64px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    padding: 1% 0%;
    background-color: #000000;
}

.footer-bottom-Left{
    width: 10% !important;
    height: 100%;
    display: flex;
    /* padding-left: 20%; */
    justify-content: center;
    align-items: center;
    /* padding-right: 5%; */
}
.logo { 
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1.5em; */
    will-change: filter;
    transition: filter 300ms;
}
.footer-bottom-left img{
    width: 100%;
    height: 100%;
    aspect-ratio: auto; 
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.footer-bottom-right{
    width: 20%;
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;
    /* padding-right: 20%; */
}
.footer-bottom-links{
    width: 60%;
    padding-left: 5%;

}
.footer-bottom-links{
    width: 100%;
}
.footer-bottom-links ul{
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: none;
    text-decoration: none;
    list-style: none;
    gap: 2%;
}
li{
    color: none;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}   
